header{
	background-color: black;
	font-family: 'Lobster', sans-serif;
}

header h1{
	font-family: 'Lobster', serif;
	color: white;
	position: relative;
	top: 0px;
	left: 20px;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 50pt;
	margin: 0px;
	
}

header img{
	height: 230px;
	float: left
}

main{
	max-width: 900px;
	margin: 10px;
	padding: 10px;

}

main img{
	max-width: 100%;
	margin: 0 auto;
	padding: 10px 10px 0px;
}


body{
	font-family: 'Noto Serif JP', serif;
	font-style: normal;
	font-size: 18px;
	line-height: 30px;
}

h2{
	font-family: 'Bentham', serif;
	font-style: normal;
	font-weight: 500
	font-size: 100px;
	text-align: center;
}

img.horizontal{
	width: 800px;
}

img{
	border-radius: 50px;
}


a{
	color: grey;
}
a:hover{
	color: black;
	background-color: #ebdcfb;

}

footer{
	background-color: black;
	font-family: 'Bentham', serif;
	text-align: center;
	color: white;
	margin-bottom: 50px;
}

footer a:hover{
	background-color: #ebdcfb;

}
p.caption{
	color: grey;
	text-align: center;
	margin-top: 0;
}







